.posts {
  ul {
    padding-left: 0;
  }

  article {
    margin-bottom: 30px;
  }

  .posts-excerpt {
    font-style: italic;
    font-size: 1.65rem;
    color: $dark-grey;
  }

  .paginator {
    display: flex;
    gap: 16px;
    justify-content: space-between;

    a, span {
      padding: 8px;
      display: inline-flex;
      align-items: center;
      gap: 4px;
      border: 1px solid;
      border-radius: 8px;
    }

    span {
      opacity: .5;
    }
  }
}
